/.idea/
/.idea_modules/
/.metadata/
/.settings/
/.vs/
/allure-results/
/[Bb]in/
/bin/
/bld/
/cmake-build-*/
/[Dd]ebug/
/[Dd]ebugPublic/
/libspecs/
/[Ll]og/
/[Oo]bj/
/out/
/[Rr]elease/
/[Rr]eleases/
/test-output/
/AutomatedTests-Mobile/test-output/
/target/
/x64/
/x86/

.builds
.classpath
.DS_Store
.project
.pydevproject

atlassian-ide-plugin.xml
com_crashlytics_export_strings.xml
crashlytics.properties
crashlytics-build.properties
fabric.properties
log.html
output.xml
report.html
workspace.xml

*_i.h
*.ilk
*_i.c
*.iws
*.log
*.meta
*.obj
*_p.c
*.pch
*.pdb
*.pgc
*.pgd
*.pidb
*.pyc
*.rsp
*.scc
*.svclog
*.sbr
*.sln.docstates
*.suo
*.tlb
*.tli
*.tlh
*.tmp
*.tmp_proj
*.user
*.userosscache
*.userprefs
*.vspscc
*.vssscc