### IDE & Editor Specific ###
/.idea/
/.idea_modules/
/.metadata/
/.settings/
/.vs/
.classpath
.project
.pydevproject
atlassian-ide-plugin.xml
workspace.xml
*.iws
*.sln.docstates
*.suo
*.user
*.userosscache
*.userprefs
*.vspscc
*.vssscc

### Python Specific ###
*.pyc
.builds
log.html
output.xml
report.html

### Build & Distribution ###
/[Bb]in/
/bin/
/bld/
/cmake-build-*/
/[Dd]ebug/
/[Dd]ebugPublic/
/[Ll]og/
/[Oo]bj/
/out/
/[Rr]elease/
/[Rr]eleases/
/target/
/x64/
/x86/

### Testing & Reports ###
/pytest_demo/allure-results/
/allure-results/
/pytest_demo/temps/
/temps/
/test-output/
/AutomatedTests-Mobile/test-output/
/libspecs/

### Mobile & Crashlytics ###
com_crashlytics_export_strings.xml
crashlytics.properties
crashlytics-build.properties
fabric.properties

### C/C++ & Windows Artifacts ###
*_i.c
*_i.h
*_p.c
*.ilk
*.log
*.meta
*.obj
*.pch
*.pdb
*.pgc
*.pgd
*.pidb
*.rsp
*.sbr
*.scc
*.svclog
*.tlb
*.tlh
*.tli
*.tmp
*.tmp_proj

### System Files ###
.DS_Store