matplotlib
numpy
scikit-learn
python-nmap
scipy
wxpython
openai>=1.0.0
pyecharts
robotframework~=7.0
robotframework-seleniumlibrary~=6.0
pygame
pytest
pytest-html
pytest-rerunfailures
allure-pytest
pytest-result-log