matplotlib
numpy
scikit-learn
beautifulsoup4
lxml
python-nmap
scipy
wxpython; sys_platform == "win32"
openai>=1.0.0
mcp
pyecharts
robotframework~=7.0
playwright
pygame; python_version < "3.14"
pytest
pytest-html
pytest-rerunfailures
allure-pytest
pytest-result-log
requests

allure-python-commons